body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

#container {
  display: flex;
  width: 100%;
  height: 100%;
}

#users-container {
  width: 30%;
  height: 100%;
  overflow: auto;
}

#conversation-container {
  width: 70%;
  height: 100%;
}

#messages-container {
  padding: 5% 5%;
  width: 90%;
  height: 85%;
  overflow: auto;
}

#send-container {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message-input, #send-button {
  padding: 2% 5%;
  font-size: 20px;
}

#send-button:hover {
  cursor: pointer;
}

.user {
  width: 90%;
  padding: 5% 5%;
  font-size: 20px;
  margin: 10px 0;
  background-color: lightgray;
  border-bottom: 2px solid gray;
  cursor: pointer;
  display: 'flex';
  align-items: center;
  justify-content: flex-start;
}

.user:hover {
  box-shadow: 10px 5px 5px black;
}

.dot {
  min-height: 10px;
  min-width: 10px;
  border-radius: 50%;
  display: inline-block
}

.active {
  background-color: lime;
}

.inactive {
  background-color: red;
}

.message {
  width: 90%;
  font-size: 18px;
  border-radius: 10px;
  padding: 3% 2%; 
  margin-top: 10px;
}

.server-message {
  background-color: seagreen;
}

.sender-message {
  background-color: skyblue;
  max-width: 60%;
  margin-left: 30%;
  text-align: end;
}

.receiver-message {
  background-color: silver;
  max-width: 60%;
}